<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>isyfact-standards</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GH_PACKAGES_TOKEN}</password>
        </server>
        <server>
            <id>isyfact-bom</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GH_PACKAGES_TOKEN}</password>
        </server>
        <server>
            <id>isy-web</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.GH_PACKAGES_TOKEN}</password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>github</id>
            <properties>
                <!-- URLs used in distribution management of pom -->
                <deploy-url-release>${env.DEPLOYURL_RELEASE}</deploy-url-release>
                <deploy-url-snapshot>${env.DEPLOYURL_SNAPSHOT}</deploy-url-snapshot>
            </properties>

            <repositories>
                <repository>
                    <id>isyfact-standards</id>
                    <name>IsyFact Standards</name>
                    <url>https://maven.pkg.github.com/IsyFact/isyfact-standards</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>isyfact-bom</id>
                    <name>IsyFact BOM</name>
                    <url>https://maven.pkg.github.com/IsyFact/isyfact-bom</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>isy-web</id>
                    <name>Isy Web</name>
                    <url>https://maven.pkg.github.com/IsyFact/isy-web</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>
</settings>