include:
  - project: 'IsyFact/isy-gitlabci-templates'
    file: '/maven/.gitlab-ci-maven.yml'

stages:
  - build
  - test
  - package
  - deploy

build:doc:
  extends: .maven-build
  variables:
    MAVEN_BUILD_OPTS: -Pbuild-documentation
  artifacts:
    expire_in: 2 day
    paths:
    - "target/pdf/"
    - "target/html/"

build:
  extends: .maven-build

test:
  extends: .maven-test

package:
  extends: .maven-package

deploy:
  extends: .maven-deploy
