<?xml version="1.0" encoding="UTF-8"?>
<!--

    See the NOTICE file distributed with this work for additional
    information regarding copyright ownership.
    The Federal Office of Administration (Bundesverwaltungsamt, BVA)
    licenses this file to you under the Apache License, Version 2.0 (the
    License). You may not use this file except in compliance with the
    License. You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
    implied. See the License for the specific language governing
    permissions and limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
	default-autowire="byName">

	<!-- ======================================================================
		Diese Bean sorgt fuer die Platzhalter-Ersetzung in 
		Spring-Konfigurationsdateien.
		====================================================================== -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!-- 
		<property name="locations">
			<list>
				<value>
					config.properties
				</value>
			</list>
		</property>
        -->
	</bean>

	<!-- Drives transactions using local JPA APIs -->
	<!-- bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
	</bean -->

	<!-- ======================================================================
		In dieser Bean wird eine EntityManagerFactory erzeugt
		====================================================================== -->
	<!-- bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource">
			<ref bean="appDataSource"/> 
		</property>
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect" />
				<entry key="hibernate.connection.isolation" value="4" />
				<entry key="hibernate.jdbs.use_streams_for_binary" value="org.hibernate.dialect.Oracle10gDialect" />
			</map>
		</property>
	</bean -->

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<description>The data source.</description>
		<property name="driverClassName">
			<value>oracle.jdbc.OracleDriver</value>
		</property>
		<property name="url"
			value="${ldap.url}" />
		<property name="username"
			value="${ldap.userdn}" />
		<property name="password"
			value="${ldap.password}" />
		<property name="maxActive"
			value="${pooling.maxActive}" />
		<property name="maxIdle"
			value="${pooling.maxIdle}" />
	</bean>

	<!-- Creates a EntityManagerFactory for use with the Hibernate JPA provider and a simple in-memory data source populated with test data -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="false" />
			</bean>
		</property>
		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.dialect" value="org.hibernate.dialect.Oracle10gDialect" />
				<entry key="hibernate.connection.isolation" value="4" />
				<entry key="hibernate.jdbs.use_streams_for_binary" value="org.hibernate.dialect.Oracle10gDialect" />
			</map>
		</property>
	</bean>

	<!-- bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="oracle.jdbc.OracleDriver" />
		<property name="url"
			value="jdbc:oracle:thin:@plis.local.vm:1521:VISA" />
		<property name="username" value="sys as sysdba" />
		<property name="password" value="sys" />
	</bean -->
	
	<!-- Singleton for usage inside conversation container persistency -->
	<bean id="webFlowConversationService"
		class="de.bund.bva.isyfact.common.web.webflow.gui.DbBasedConversationContainerStoreService">
		<constructor-arg ref="entityManagerFactory"/>
	</bean>
	
	<!-- Singleton for usage inside conversation container persistency -->
	<bean id="dbCleaner"
		class="de.bund.bva.isyfact.common.web.webflow.gui.test.DBTableCleaner">
		<constructor-arg ref="entityManagerFactory"/>
	</bean>
	
</beans>