name: Maven Dependency Scan
on:
  push:
    branches:
      - master
      - 'release/**'
    paths:
      - '**/pom.xml'
      - '**/package.json'
      - '**/package-lock.json'
  workflow_dispatch:
  schedule:
      - cron: "5 0 * * *"

jobs:
  Dependencies:
    uses: IsyFact/isy-github-actions-templates/.github/workflows/maven_dependency_scan_template.yml@v1.8.0
    with:
      snyk-reference: $GITHUB_REF_NAME
      snyk-organization: ${{ vars.SNYK_ORG_ID }}
      snyk-arguments: "--all-projects"
    secrets:
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
